.items {
    height: 270px;
    border-bottom: 1px solid rgb(255, 0, 0);
}

.product {
    padding: 5px 20px;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    justify-items: center;
}

.productData {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
}

.itemsContent {
    border-top: 1px solid black;
    padding-top: 5px;
    min-height: 40%;
}



.observations {
    margin: 30px;
}

.observationsContent {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.total {
    padding: 10px 20px;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    display: grid;
}

.dueDate {
    margin-left: 30px;
    display: flex;
    gap: 30px;
    padding-bottom: 10px;
}

h1{

    font-weight: bolder;
}