.Form {
    display: flex;
    flex-direction: column;
    padding: 0 5vmin;
    gap: 15px;
}

.idOT {
    display: flex;
    align-items: center;
    width: 20vw;
    justify-content: space-between;
}

.SelectContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.ClientData {
    display: flex;
    width: 35vw;
    justify-content: space-between;
}

.ClientDataContent {
    width: 15vw;
}

.ClientDataContent p {
    padding-bottom: 10px;
}

.DataInput {
    width: 35vw;
}

.dataOT {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.inputsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ButtonSave {
    padding: 20px 0;
}

@media only screen and (max-width: 1100px) {
    .ClientData {
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    .ClientDataContent {
        width: 100%;
    }

    .ItemTable div,
    .ItemTable {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .dataOT {
        flex-direction: column;
    }

    .DataInput {
        width: 100%;
    }
}

.Description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
    gap: 5px;
}

.ItemTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}