.firms {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.firmContent div {
    display: flex;
    justify-content: center;
}

.firmTittle,
.firmTittleWithBorder {
    border-bottom: 1px solid black;
    padding: 5px;
    font-size: 15px;
    border-top: 1px solid black;
}

.firm,
.firmWithBorder {
    height: 35px;
}

.firmNote,
.firmNoteWithBorder {
    border-top: 1px solid black;
    padding: 5px;
    font-size: 11px;
}

.firmNoteWithBorder,
.firmTittleWithBorder,
.firmWithBorder {
    border-right: 1px solid black;
    border-left: 1px solid black;
}