.ActivitiesBody {
    display: flex;
    flex-direction: column;
    gap: 4vmin;
    padding: 2vmin 0;
}

.contentActivities {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}