.companyData {
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
    padding: 5px 20px;
}

.rowData {
    width: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
}
.contactData .rowData {
    padding-bottom: 5px;
}
.data {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dataContent {
    display: flex;
    margin: 5px;
    align-items: center;
    gap: 10px;
    width: 40vw;
}
.contactData .dataLabel {
    width: 9vw;
}

.dataLabel {
    width: 10vw;
}

.dataValue {
    line-height: 1.4;
}