.companyData {
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
    padding: 5px 0;
}

.companyData .rowData {
    width: 100%;
    display: flex;
}

.data {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dataContent {
    display: flex;
    margin: 5px;
    /* justify-content: space-between; */
    align-items: center;
    width: 40vw;
}
.contactData .dataLabel {
    width: 7vw;
}
.contactData .dataValue {
    width: 10vw;
}

.dataLabel {
    width: 10vw;
    margin-right: 15px;
}

.dataValue {
    line-height: 1.4;
    width: 20vw;
}