.availability {
    background-color: #a1ff75;
    height: 30px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    min-width: 50px;
    padding: 0 10px;
    justify-content: center;
    cursor: pointer;
    border-radius: 15px;
    transition: all ease-in-out .3s;
    margin-right: 5px;
}

.availabilityError {
    background-color: #ff7373;
    height: 30px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    min-width: 50px;
    padding: 0 10px;
    justify-content: center;
    cursor: pointer;
    border-radius: 15px;
    transition: all ease-in-out .3s;
    margin-right: 5px;
}

.availabilitySelect {
    height: 30px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    width: 180px;
    justify-content: center;
    cursor: pointer;
    border-radius: 15px;
    transition: all ease-in-out .3s;
}

.availability:hover,
.availabilitySelect:hover,
.availabilityError:hover {
    transform: scale(1.01);
    transition: all ease-in-out .4s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}