.ContentPageOt {
    display: flex;
    justify-content: center;
}

.ContentAllData {
    display: flex;
    background: rgb(218, 218, 218);
    justify-content: center;
    height: 220vh;

    padding-top: 2%;
}