.AlertStyleDefault {
    width: 100%;
    transform: scale(1.5);
}

.toast {
    width: 100%;
    transform: scale(1.5);
    animation-name: fadeOut;
    animation-duration: 1000ms;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}