.ContentOt {
    display: flex;
    align-items: center;
    background: rgb(218, 218, 218);
    width: 100%;
    height: 88vh;
}

@media only screen and (max-width: 950px) {
    .ContentOt {
        flex-direction: column;
    }
}