.form {
    display: flex;
    margin-top: 5%;
    margin-bottom: 50px;
    flex-direction: column;
    gap: 10px;
}

.inputFormContent {
    display: flex;
    gap: 10px;
    align-items: center;
}

.buttonSave {
    display: flex;
    margin-top: 2%;
    gap: 80px;
}