.productData {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
}

.productDiv {
    height: 60px !important;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.productDiv h1{
    padding-left: 8px;
    padding-top: 2px;
}

.productDiv h1 {
    font-weight: bolder;
    font-size: 13px;

}

.productDiv:nth-child(1),
.productDiv:nth-child(2) {
    border-right: 1px solid black;
}