.bodyList {
     display: flex;
}

.listOt {
     width: 100%;
     margin: 3vmin;
     height: 80vh;
}

.filterAndTittle {
     height: 10%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 20px;
     font-weight: 600;
}
.filterAndTittle h3{
     letter-spacing: 1px;
     font-size: 3vmin;
}
.filters {
     display: flex;
     justify-content: space-around;
     gap: 4vmin;
     align-items: center;
}