.contentData {
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    width: 90%;
    height: 90%;
    margin-top: 2%;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif; */

    display: grid;
    grid-template-columns: 1fr 3fr;
    background: white;
    height: 90%;
    width: 60%;
    margin-right: 7%;
}

.tittlePage {
    font-size: 19px;
}

.tittlesCategories {
    background: rgb(240, 240, 240);
}

.contentTittle {
    height: 30px;
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.tittlesCategories .contentTittle {
    margin-right: 10%;
    justify-content: flex-end;
}

.contentActivities {
    height: 9%;
    display: flex;
    margin-right: 10%;
    justify-content: flex-end;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 4px;
}

.dataCategories .contentTittle {
    margin-left: 5%;
}

.Activities {
    margin-top: 50px;
    margin-left: 5%;
    height: 9%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 12px;
}

.activity {
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px 9px;
    cursor: pointer;
}

.activityEnd {
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px 9px;
    background-color: #92ff6c;
    cursor: pointer;
}

.activityProcess {
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px 9px;
    background-color: rgb(255, 255, 127);
    cursor: pointer;
}

.tittlesCategories {
    font-weight: 500;
}

.ProductTittle {
    height: 2%;
    display: flex;
    margin-right: 10%;
    justify-content: flex-end;
    align-items: center;
    font-size: 18px;
    margin-top: 60px;
}


.addButton {
    margin-left: 5%;
    margin-bottom: 50px;
}

.ProductSection {
    display: flex;
    margin-right: 10%;
    justify-content: flex-end;
    align-items: center;
    font-weight: 400;
    height: 4%;
    font-size: 14px;
}

.ProductContent {
    display: flex;
    align-items: center;
    height: 4%;
    font-weight: 400;
    margin-left: 5%;
}

.authNone {
    height: 30px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    margin-left: 5%;
    border: 1px solid black;
    width: 125px;
    justify-content: center;
    cursor: pointer;
    border-radius: 15px;
    background-color: #ff7373;
}

.auth {
    height: 30px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    margin-left: 5%;
    border: 1px solid black;
    width: 125px;
    justify-content: center;
    cursor: pointer;
    border-radius: 15px;
    background-color: #a1ff75;
}