.displayContacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: .5vmin;
    cursor: pointer;
    width: 100%;
}
.displayContacts div{
    display: flex;
    flex-direction: row;
}
.tittleContact{
    width: 12vmin;
}