.displayContacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: .5vmin;
    width: 100%;
}
.displayContacts div{
    display: flex;
    flex-direction: row;
}
.tittleContact{
    width: 12vmin;
}

.containerContacts{
    display: flex;
    flex-direction: column;
    gap: 1.5vmin;
}