.FormCreateType {
    box-shadow: rgba(19, 21, 22, 0.35) 0px 5px 15px;
    height: 92%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 4%;
}

.TittleForm {
    font-weight: 600;
    font-size: 20px;
    font-family: Segoe UI, Roboto, Helvetica Neue, Ubuntu, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12%;
}

.ContentForm {
    width: 80%;
}

.inputFormContent {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.TittleInput {
    width: 20%;
}

.inputSmall {
    width: 10%;
}

.PathTypeOt{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.buttonSave{
    margin-bottom: 5%;
}