.formCreateUser {
    margin-top: 1%;
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    font-family: Segoe UI, Roboto, Helvetica Neue, Ubuntu, sans-serif;
    display: flex;
    flex-direction: column;
    background: white;
    align-items: center;
}

.headerTittle {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
    align-items: flex-end;
    height: 8%;
    margin-top: 20px;
}

.formCreate {
    width: 80%;
}

.selectRoles {
    margin-top: 2%;
}

.inputsForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    display: flex;
    flex-direction: column;
    margin: 5% 0;
}

.input {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    margin: 10px 0;
}

.inputTittle {
    width: 35%;
}

.tittleRoles {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 17px;
    align-items: flex-end;
    height: 8%;
}

.Buttons {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 20%;
    gap: 80px;
    margin-bottom: 20px;
}