.contentBody {
    width: 50%;
    height: 40%;
    background-color: whitesmoke;
    border-radius: 15px;
}

.tittleModel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    font-size: 1.2rem;
    align-items: end;
    font-weight: 500;
    height: 20%;
}

.buttons {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 10%;
}

.selectNumber {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5%;
}

.allbuttons{

    display: flex;
    flex-direction: column;

}

button{

    background-color: #1976d2;
    color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    

}