.firms {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.firmContent:nth-child(2),
.firmContent:nth-child(1) {
    border-right: 1px solid black;
}

.firmContent div {
    display: flex;
    justify-content: center;
}

.firmTittle {
    border-bottom: 1px solid black;
    padding: 5px;
    font-size: 15px;
    border-top: 1px solid black;
}

.firm {
    height: 35px;
}

.firmNote {
    border-top: 1px solid black;
    padding: 5px;
    font-size: 11px;
}